In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
a = pd.Series(['q','w','e','r','t','y'])
a[4]

't'

In [4]:
pd.Series([1,2,3,4,5,np.nan])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [5]:
s1 = pd.Series({'a':1000,'b':2000,'c':3000})

In [6]:
s1

a    1000
b    2000
c    3000
dtype: int64

In [7]:
s2 = pd.Series({'a':10,'b':20,'c':30, 'd': 40})

In [8]:
s2

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
d ={'column_one': s1, "column two": s2}

In [10]:
d

{'column two': a    10
 b    20
 c    30
 d    40
 dtype: int64, 'column_one': a    1000
 b    2000
 c    3000
 dtype: int64}

In [11]:
df = pd.DataFrame(d)

In [12]:
df

   column two  column_one
a          10      1000.0
b          20      2000.0
c          30      3000.0
d          40         NaN

In [13]:
print df

   column two  column_one
a          10      1000.0
b          20      2000.0
c          30      3000.0
d          40         NaN

In [14]:
print df

   column two  column_one
a          10      1000.0
b          20      2000.0
c          30      3000.0
d          40         NaN

In [15]:
df

   column two  column_one
a          10      1000.0
b          20      2000.0
c          30      3000.0
d          40         NaN

In [16]:
df.column_one

a    1000.0
b    2000.0
c    3000.0
d       NaN
Name: column_one, dtype: float64

In [17]:
df.iloc[1]

column two      20.0
column_one    2000.0
Name: b, dtype: float64

In [18]:
df.loc['a']

column two      10.0
column_one    1000.0
Name: a, dtype: float64

In [19]:
df.columns = ['one','two']

In [20]:
df

   one     two
a   10  1000.0
b   20  2000.0
c   30  3000.0
d   40     NaN

In [21]:
df['three'] = df['one'] * df['two']

In [22]:
print df

   one     two    three
a   10  1000.0  10000.0
b   20  2000.0  40000.0
c   30  3000.0  90000.0
d   40     NaN      NaN

In [23]:
df['big'] = df['three'] > 20000

In [24]:
print df

   one     two    three    big
a   10  1000.0  10000.0  False
b   20  2000.0  40000.0   True
c   30  3000.0  90000.0   True
d   40     NaN      NaN  False

In [25]:
df.one

a    10
b    20
c    30
d    40
Name: one, dtype: int64

In [26]:
df['one']

a    10
b    20
c    30
d    40
Name: one, dtype: int64

In [27]:
df.loc[:, ('one')]

a    10
b    20
c    30
d    40
Name: one, dtype: int64

In [28]:
type(df['one'])

pandas.core.series.Series

In [29]:
type(df.loc['a'])

pandas.core.series.Series

In [30]:
df.loc['a']

one         10
two       1000
three    10000
big      False
Name: a, dtype: object